@import url(/src/variables.css);

.theme-toggle-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  font-size: 0.9rem;
  background-color: var(--banner-teritary-color);
  transition: background 0.2s;
  color: var(--text-color);
  white-space: nowrap;
}

.theme-toggle-button:hover {
  background-color: var(--banner-secondary-color);
  cursor: pointer;
}

@media (max-width: 768px) {
  .theme-toggle-button {
    font-size: 0.8rem;
    width: 100%;
    justify-content: center;
  }
}
