@import url(/src/variables.css);


#projects-container {
    display: flex;
    flex-direction: column;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.column-container h1 {
    font-size: 2rem;
}