@import url(/src/variables.css);

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--light-gray);
    padding: 1rem;
}

a {
    color: var(--black)
}