/* TODO: create CSS for app */
:root {
    --primary-font: Arial;
    --primary: #0b0f42;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    min-height: 100vh;
}